html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.fullLine {
    justify-content: space-between;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.hideIcon {
  padding-right: 7px;
}

.colorHideIcon {

}

.colorHideIcon:hover {
  color: blue;
}

.trashIcon {
  padding-right: 13px;
}

.colorTrashIcon {
  color: red;
}

.colorTrashIcon:hover {
  color: grey;
}

.undoIcon {
  padding-right: 7px;
}

.colorUndoIcon {
  color: blue;
}

.colorUndoIcon:hover {
  color: grey;
}

.item:last-child {
  border-bottom: 0;
}

.IconUpper {
  direction: rtl;
}

.IconUpperHover:hover {
  color: #DEB887;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

.plusButton {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  /* padding-bottom: 6px; */
  border-width: 0;
}

button{
  border: 0;
  padding: 0;
  background-color: transparent;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
